<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"/> 
    <link rel="stylesheet" href="../fonts/icomoon/style.css"/>

    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>


    <link rel="stylesheet" href="../css/aos.css"/>

    <link rel="stylesheet" href="../css/style.css"/>

	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Catalogo deproductos para la venta demanera fisica</title>
	</f:facet>

</h:head>

<body>

<div class="site-navbar bg-white py-2">

		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="logo">
					<div class="site-logo">
						<a href="../landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
					</div>
				</div>
				<div class="container">
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li><a href="vendedor-principal.xhtml">Inicio</a></li>
							<li><a href="Vendedor-Formulario-Venta.xhtml">Venta</a></li>
							<li><a href="Vendedor-catalogo.xhtml">Catálogo</a></li>
						</ul>
						</nav>
					</div>
				</div>
				<div class="container">
					<h:form>
						<li><a><h:commandButton
									action="#{beanUsuario.salirSistema()}" value="Cerrar Sesión" /></a></li>
					</h:form>
				</div>
			</div>
		</div>
	</div>


	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<h:form>

		<p:panel header="Catalogo de productos" style="center">

			<p:commandButton value="Mods" />
			<p:commandButton value="Atomizadores" />
			<p:commandButton value="Resistencias" />
			<p:commandButton value="Algodones" />
			<p:commandButton value="Kids" />
			<p:commandButton value="PODs" />

		</p:panel>

	</h:form>

	<h:form>

		<p:dataTable>

			<p:column headerText="PRODUCTO">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="MARCA">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="CARACTERISTICA">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="Valor Estandar">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="Cantidad en almacenamiento">
				<h:outputText value="" />
			</p:column>

			<p:column>
				<p:commandButton value="Agregar a carrito" />
			</p:column>


		</p:dataTable>

	</h:form>

	<p:panel header="Productos seleccionados">

		<h:form>

			<p:dataTable>

				<p:column headerText="PRODUCTO">
					<h:outputText value="" />
				</p:column>

				<p:column headerText="Valor Estandar">
					<h:outputText value="" />
				</p:column>
				
				<p:column headerText="Valor de venta">
					<h:outputText value="" />
				</p:column>

				<p:column headerText="Cantidad en venta" >
					<h:outputText value="" />
				</p:column>

				<p:column headerText="valor total producto" >
					<h:outputText value="" />  />
				</p:column>
				
				<p:column>
					<p:commandButton value="Eliminar producto" />
				</p:column>


			</p:dataTable>

		</h:form>

	</p:panel>
	
	<p:panel header="Valores de la venta">
	
		<h:outputText value="Subtotal: " />
		<br/>
		<h:outputText value="base cero: " />
		<br/>
		<h:outputText value="baseimponible: " />
		<br/>
		<h:outputText value="descuento: " />
		<br/>
		<h:outputText value="Total a pagar: " />
		
	</p:panel>
	
	<h:form>
		<p:commandButton value="Efectuar compra" action="Vendedor-Formulario-Venta"/>
	</h:form>

</body>
</html>
