<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>ShopMax &mdash; Colorlib e-Commerce Template</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="fonts/icomoon/style.css" />

	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/jquery-ui.css" />
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="css/aos.css" />

	<link rel="stylesheet" href="css/style.css" />

</h:head>
<body>

	<div class="site-wrap">


		<div class="site-navbar bg-white py-2">

			<div class="search-wrap">
				<div class="container">
					<a href="#" class="search-close js-search-close"><span
						class="icon-close2"></span></a>
					<form action="#" method="post">
						<input type="text" class="form-control"
							placeholder="Search keyword and hit enter..." />
					</form>
				</div>
			</div>

			<div class="container">
				<div class="d-flex align-items-center justify-content-between">
					<div class="logo">
						<div class="site-logo">
							<a href="landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
						</div>
					</div>
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li class="has-children "><a href="landingPage.xhtml">Inicio</a>

							</li>

							<li class="active"><a href="contact.xhtml">Contacto</a></li>
						</ul>
						</nav>
					</div>
					<div class="icons">
						<a href="#" class="icons-btn d-inline-block js-search-open"><span
							class="icon-search"></span></a> <a href="#"
							class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
						<a href="cart.html" class="icons-btn d-inline-block bag"> <span
							class="icon-shopping-bag"></span> <span class="number">0</span>
						</a> <a href="#"
							class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
							class="icon-menu"></span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="site-blocks-cover inner-page"
			style="background-image: url('images/cloudy 3.png'); background-repeat: no-repeat; background-size: cover; background-position: center"
			data-aos="fade">
			<div class="container">
				<div class="row">
				</div>
			</div>
		</div>

		<div class="custom-border-bottom py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-0">
						<a href="index.html">Inicio</a> <span class="mx-2 mb-0">/</span> <strong
							class="text-black">Contacto</strong>
					</div>
				</div>
			</div>
		</div>


		<div class="site-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="h3 mb-3 text-black">Contáctanos</h2>
					</div>
					<div class="col-md-10">

						<form action="#" method="post">

							<div class="p-3 p-lg-5 border">
								<div class="form-group row">
									<div class="col-md-7">
										<span class="d-block text-primary h6 text-uppercase">Contacto</span>
										<p class="mb-1">NOMBRES Y APELLIDOS</p>
										<p class="mb-0">Cristian Daniel Guerra Ruiz</p>
										<p class="mb-1">OCUPACIÓN</p>
										<p class="mb-0">Estudiante / Universidad Técnica del Norte</p>
										<p class="mb-1">TELÉFONO</p>
										<p class="mb-0">+593 96 971 6527</p>
										<p class="mb-1">CORREO</p>
										<p class="mb-0">cdguerrar@utn.edu.ec</p>
									</div>
									<div class="col-md-5">
										<img src="images/Daniel.jpg" alt="Image placeholder"
											class="img-fluid rounded mb-4" />
									</div>
								</div>


							</div>
						</form>
					</div>

					<hr></hr>

					<div class="col-md-10">

						<form action="#" method="post">

							<div class="p-3 p-lg-5 border">
								<div class="form-group row">
									<div class="col-md-7">
										<span class="d-block text-primary h6 text-uppercase">Contacto</span>
										<p class="mb-1">NOMBRES Y APELLIDOS</p>
										<p class="mb-0">Ricardo Germán Ávila Chuma</p>
										<p class="mb-1">OCUPACIÓN</p>
										<p class="mb-0">Estudiante / Universidad Técnica del Norte</p>
										<p class="mb-1">TELÉFONO</p>
										<p class="mb-0">+593 99 978 7400</p>
										<p class="mb-1">CORREO</p>
										<p class="mb-0">rgavilac@utn.edu.ec</p>
									</div>
									<div class="col-md-5">
										<img src="images/Ricardo.jpg" alt="Image placeholder"
											class="img-fluid rounded mb-4" />
									</div>
								</div>


							</div>
						</form>
					</div>

					<hr></hr>

					<div class="col-md-10">

						<form action="#" method="post">

							<div class="p-3 p-lg-5 border">
								<div class="form-group row">
									<div class="col-md-7">
										<span class="d-block text-primary h6 text-uppercase">Contacto</span>
										<p class="mb-1">NOMBRES Y APELLIDOS</p>
										<p class="mb-0">Jonathan Fernando Chulde Benavídez</p>
										<p class="mb-1">OCUPACIÓN</p>
										<p class="mb-0">Estudiante / Universidad Técnica del Norte</p>
										<p class="mb-1">TELÉFONO</p>
										<p class="mb-0">+593 96 870 0801</p>
										<p class="mb-1">CORREO</p>
										<p class="mb-0">jfchuldeb@utn.edu.ec</p>
									</div>
									<div class="col-md-5">
										<img src="images/Fernando.jpg" alt="Image placeholder"
											class="img-fluid rounded mb-4" />
									</div>
								</div>


							</div>
						</form>
					</div>


				</div>
			</div>
		</div>


		<footer class="site-footer custom-border-top">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
					<h3 class="footer-heading mb-4"></h3>
					<a href="#" class="block-6"> <img src="images/cloudy2.png"
						alt="Image placeholder" class="img-fluid rounded mb-4" />
						<h3 class="font-weight-light  mb-0">Encuentra tu cigarillo
							electrónico ideal</h3>
						<p>Desde 20 de Noviembre de 2019</p>
					</a>
				</div>


				<div class="col-md-8 col-lg-5">
					<div class="block-5 mb-5">
						<h3 class="footer-heading mb-4">Contacto</h3>
						<ul class="list-unstyled">
							<hr></hr>
							<li class="address">Otavalo, Av. 31 de Ocutubre y Cristobal
								Colón</li>
							<li class="phone"><a href="tel://23923929210">+593 98
									418 3800</a></li>
							<li class="email">juanjoflores@hotmail.com</li>
						</ul>
					</div>


				</div>
			</div>
			<div class="row pt-5 mt-5 text-center">
				<div class="col-md-12">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>
						All rights reserved | This template is made with <i
							class="icon-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>

			</div>
		</div>
		</footer>
	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>

	<script src="js/main.js"></script>

</body>
</html>