<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>CLOUDY</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="fonts/icomoon/style.css" />

	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/jquery-ui.css" />
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="css/aos.css" />

	<link rel="stylesheet" href="css/style.css" />

</h:head>
<body>

	<div class="site-wrap">


		<div class="site-navbar bg-white py-2">

			<div class="search-wrap">
				<div class="container">
					<a href="#" class="search-close js-search-close"><span
						class="icon-close2"></span></a>
					<form action="#" method="post">
						<input type="text" class="form-control"
							placeholder="Search keyword and hit enter..." />
					</form>
				</div>
			</div>

			<div class="container">
				<div class="d-flex align-items-center justify-content-between">
					<div class="logo">
						<div class="site-logo">
							<a href="landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
						</div>
					</div>
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li class="has-children active"><a href="landingPage.xhtml">Inicio</a>

							</li>

							<li><a href="contact.xhtml">Contacto</a></li>
						</ul>
						</nav>
					</div>
					<div class="icons">
						<a href="#" class="icons-btn d-inline-block js-search-open"><span
							class="icon-search"></span></a> <a href="#"
							class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
						<a href="cart.html" class="icons-btn d-inline-block bag"> <span
							class="icon-shopping-bag"></span> <span class="number">0</span>
						</a> <a href="#"
							class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
							class="icon-menu"></span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="site-blocks-cover" data-aos="fade">
			<div class="container">
				<div class="row">
					<div class="col-md-6 ml-auto order-md-2 align-self-start">
						<div class="site-block-cover-content">
							<h2 class="sub-title">#COLECCIÓN 2020</h2>
							<h1>MODS, ATOS Y MUCHO MÁS</h1>
							<p>
								<a href="loginFinal.xhtml" class="btn btn-black rounded-0">INGRESAR</a>
							</p>
						</div>
					</div>
					<div class="col-md-6 order-1 align-self-end">
						<img src="images/portada.jfif" alt="Image" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>

		<div class="site-section">
			<div class="container">
				<div class="title-section mb-5">
					<h2 class="text-uppercase">
						<span class="d-block">Descubre</span> La Nueva Colección
					</h2>
				</div>
				<div class="row align-items-stretch">
					<div class="col-lg-8">
						<div class="product-item sm-height full-height bg-gray">
							<a href="#" class="product-category">MODS <span>25
									items</span></a> <img src="images/mods2.png" alt="Image" class="img-fluid" />
						</div>
					</div>
					<div class="col-lg-4">
						<div class="product-item sm-height bg-gray mb-4">
							<a href="#" class="product-category">ATOS <span>25
									items</span></a> <img src="images/atomizador.jpg" alt="Image"
								class="img-fluid" />
						</div>

						<div class="product-item sm-height bg-gray">
							<a href="#" class="product-category">PODS <span>25
									items</span></a> <img src="images/pods.jpg" alt="Image" class="img-fluid" />
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="site-section">
			<div class="container">
				<div class="row">
					<div class="title-section mb-5 col-12">
						<h2 class="text-uppercase">Productos Populares</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 item-entry mb-4">
						<a href="#" class="product-item md-height bg-gray d-block"> <img
							src="images/drag.jpg" alt="Image" class="img-fluid" />
						</a>
						<h2 class="item-title">
							<a href="#">DRAG 2 AURORA</a>
						</h2>
						<strong class="item-price">$70.00</strong>
					</div>
					<div class="col-lg-4 col-md-6 item-entry mb-4">
						<a href="#" class="product-item md-height bg-gray d-block"> <img
							src="images/xpriv.jpg" alt="Image" class="img-fluid" />
						</a>
						<h2 class="item-title">
							<a href="#">X-PRIV KIT </a>
						</h2>
						<strong class="item-price"><del>$80.00</del> $65.00</strong>
					</div>

					<div class="col-lg-4 col-md-6 item-entry mb-4">
						<a href="#" class="product-item md-height bg-gray d-block"> <img
							src="images/asgard.jpg" alt="Image" class="img-fluid" />
						</a>
						<h2 class="item-title">
							<a href="#">ASGARD RDA 30mm</a>
						</h2>
						<strong class="item-price">$60.00</strong>

						<div class="star-rating">
							<span class="icon-star2 text-warning"></span> <span
								class="icon-star2 text-warning"></span> <span
								class="icon-star2 text-warning"></span> <span
								class="icon-star2 text-warning"></span> <span
								class="icon-star2 text-warning"></span>
						</div>

					</div>
					<div class="col-lg-4 col-md-6 item-entry mb-4">
						<a href="#" class="product-item md-height bg-gray d-block"> <img
							src="images/tauren.jpg" alt="Image" class="img-fluid" />
						</a>
						<h2 class="item-title">
							<a href="#">TAUREN RDA</a>
						</h2>
						<strong class="item-price">$45.00</strong>
						<div class="star-rating">
							<span class="icon-star2 text-warning"></span> <span
								class="icon-star2 text-warning"></span> <span
								class="icon-star2 text-warning"></span> <span
								class="icon-star2 text-warning"></span> <span
								class="icon-star2 text-warning"></span>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 item-entry mb-4">
						<a href="#" class="product-item md-height bg-gray d-block"> <img
							src="images/zeltu.jpg" alt="Image" class="img-fluid" />
						</a>
						<h2 class="item-title">
							<a href="#">ZELTU X AIO POD</a>
						</h2>
						<strong class="item-price"><del>$60.00</del> $40.00</strong>
					</div>
					<div class="col-lg-4 col-md-6 item-entry mb-4">
						<a href="#" class="product-item md-height bg-gray d-block"> <img
							src="images/cushman.jfif" alt="Image" class="img-fluid" />
						</a>
						<h2 class="item-title">
							<a href="#">CUSHMAN MANGO-BANANA</a>
						</h2>
						<strong class="item-price">$18.00</strong>
					</div>

				</div>
			</div>
		</div>

		<div class="site-section">
			<div class="container">
				<div class="row">
					<div class="title-section text-center mb-5 col-12">
						<h2 class="text-uppercase">Más Comprados</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 block-3">
						<div class="nonloop-block-3 owl-carousel">
							<div class="item">
								<div class="item-entry">
									<a href="#" class="product-item md-height bg-gray d-block">
										<img src="images/drag.jpg" alt="Image" class="img-fluid" />
									</a>
									<h2 class="item-title">
										<a href="#">DRAG 2 AURORA</a>
									</h2>
									<strong class="item-price">$70.00</strong>
									<div class="star-rating">
										<span class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="item-entry">
									<a href="#" class="product-item md-height bg-gray d-block">
										<img src="images/tauren.jpg" alt="Image" class="img-fluid" />
									</a>
									<h2 class="item-title">
										<a href="#">TAUREN RDA</a>
									</h2>
									<strong class="item-price"> $45.00</strong>

									<div class="star-rating">
										<span class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="item-entry">
									<a href="#" class="product-item md-height bg-gray d-block">
										<img src="images/cushman.jfif" alt="Image" class="img-fluid" />
									</a>
									<h2 class="item-title">
										<a href="#">CUSHMAN MANGO-BANANA</a>
									</h2>
									<strong class="item-price"> $18.00</strong>

									<div class="star-rating">
										<span class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span>
									</div>

								</div>
							</div>
							<div class="item">
								<div class="item-entry">
									<a href="#" class="product-item md-height bg-gray d-block">
										<img src="images/asgard.jpg" alt="Image" class="img-fluid" />
									</a>
									<h2 class="item-title">
										<a href="#">ASGARD RDA 30mm</a>
									</h2>
									<strong class="item-price"> $60.00</strong>
									<div class="star-rating">
										<span class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="item-entry">
									<a href="#" class="product-item md-height bg-gray d-block">
										<img src="images/xpriv.jpg" alt="Image" class="img-fluid" />
									</a>
									<h2 class="item-title">
										<a href="#">X-PRIV KIT</a>
									</h2>
									<strong class="item-price"><del>$80.00</del> $65.00</strong>
									<div class="star-rating">
										<span class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span> <span
											class="icon-star2 text-warning"></span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="site-blocks-cover inner-page py-5" data-aos="fade">
			<div class="container">
				<div class="row">
					<div class="col-md-6 ml-auto order-md-2 align-self-start">
						<div class="site-block-cover-content">
							<h2 class="sub-title">#COLECCIÓN 2020</h2>
							<h1>NUEVAS ESENCIAS</h1>
							<p>
								<a href="login.xhtml" class="btn btn-black rounded-0">INGRESAR</a>
							</p>
						</div>
					</div>
					<div class="col-md-6 order-1 align-self-end">
						<img src="images/portada.jfif" alt="Image" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>

		<footer class="site-footer custom-border-top">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
					<h3 class="footer-heading mb-4"></h3>
					<a href="#" class="block-6"> <img src="images/cloudy2.png"
						alt="Image placeholder" class="img-fluid rounded mb-4" />
						<h3 class="font-weight-light  mb-0">Encuentra tu cigarillo
							electrónico ideal</h3>
						<p>Desde 20 de Noviembre de 2019</p>
					</a>
				</div>


				<div class="col-md-8 col-lg-5">
					<div class="block-5 mb-5">
						<h3 class="footer-heading mb-4">Contacto</h3>
						<ul class="list-unstyled">
							<hr></hr>
							<li class="address">Otavalo, Av. 31 de Ocutubre y Cristobal
								Colón</li>
							<li class="phone"><a href="tel://23923929210">+593 98
									418 3800</a></li>
							<li class="email">juanjoflores@hotmail.com</li>
						</ul>
					</div>


				</div>
			</div>
			<div class="row pt-5 mt-5 text-center">
				<div class="col-md-12">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>
						All rights reserved | This template is made with <i
							class="icon-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>

			</div>
		</div>
		</footer>
	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>

	<script src="js/main.js"></script>

</body>
</html>