<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Login</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="vendor/bootstrap/css/bootstrap.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="vendor/animate/animate.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="vendor/css-hamburgers/hamburgers.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="vendor/select2/select2.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/utilLogin.css" />
	<link rel="stylesheet" type="text/css" href="css/mainLogin.css" />
	<!--===============================================================================================-->
</h:head>
<body>

	<div class="limiter">
		<div class="container-login100"
			style="background-image: url('images/img-01.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<h:form class="login100-form validate-form">
					<div class="login100-form-avatar">
						<img src="images/avatar-01.jpg" alt="AVATAR" />
					</div>

					<span class="login100-form-title p-t-20 p-b-45"> Iniciar
						Sesión </span>

					<div class="wrap-input100 validate-input m-b-10"
						data-validate="Email requerido">
						<p:inputText value="#{beanUsuario.email}" class="input100"
							placeholder="Usuario" />


					</div>

					<div class="wrap-input100 validate-input m-b-10"
						data-validate="Contraseña requerida">
						<p:inputText value="#{beanUsuario.contrasena}" class="input100"
							placeholder="Contraseña" type="password" />

					</div>

					<div class="container-login100-form-btn p-t-10">
						<p:commandButton styleClass="login100-form-btn"
							action="#{beanUsuario.accederSistema()}" value="Iniciar Sesion" />
					</div>

					<div class="text-center w-full p-t-25 p-b-230">
						<a href="#" class="txt1"> Olvidaste tu Usuario / Contraseña? </a>
					</div>

					<div class="text-center w-full">
						<a class="txt1" href="./registroCliente.xhtml"> Crear una cuenta
							<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>
				</h:form>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="js/login.js"></script>

</body>
</html>