<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>

<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"/> 
    <link rel="stylesheet" href="../fonts/icomoon/style.css"/>

    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>


    <link rel="stylesheet" href="../css/aos.css"/>

    <link rel="stylesheet" href="../css/style.css"/>

	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Inicio de Sesión</title>
	</f:facet>
</h:head> 
<body> 

<div class="site-navbar bg-white py-2">

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">        
              </ul>
            </nav>
          </div>
          
        </div>
      </div>
    </div>


<h:form>

		<p:messages>
			<p:autoUpdate />
		</p:messages>

		<p:panel header="Inicio de Sesión" >

			<p:panelGrid columns="2">

				<h:outputText value="Correo" />
				<p:inputText value="#{beanUsuario.email}" />

				<h:outputText value="Contraseña" />
				<p:inputText value="#{beanUsuario.contrasena}" type="password"/>

				
				<p:commandButton value="Iniciar Sesión" action="#{beanUsuario.accederSistema()}"/>
				<hr></hr>
				<p:commandButton value="Registrarse" action="#{beanUsuario.actionRedirigirRegistro()}"/>

			</p:panelGrid>

		</p:panel>

	</h:form>
</body> 
</html>
