<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="../fonts/icomoon/style.css" />

	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/magnific-popup.css" />
	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="../css/aos.css" />

	<link rel="stylesheet" href="../css/style.css" />
	<title>Productos</title>

</h:head>
<body>

	<div class="site-navbar bg-white py-2">

		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="logo">
					<div class="site-logo">
						<a href="../landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
					</div>
				</div>
				<div class="container">
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li><a href="cliente-principal.xhtml">Inicio</a></li>
							<li><a href="cliente-carrito.xhtml">Catálogo</a></li>
							<li><a href="MisCompras.xhtml">Mis Compras</a></li>
							<li><a href="PerfilCliente.xhtml">Mi Perfil</a></li>
						</ul>
						</nav>
					</div>
				</div>
				<div class="container">
					<h:form>
						<li><a><h:commandButton
									action="#{beanUsuario.salirSistema()}" value="Cerrar Sesión" /></a></li>
					</h:form>
				</div>

			</div>
		</div>
	</div>

	<h:form>
		<p:panel header="Datos de productos">
			<p:dataGrid value="#{beanCarritoUsuario.listaStock}" var="l"
				columns="4">
				<p:panel header="producto">
					<p:panelGrid columns="2">
						<h:outputText value="Tipo Producto:" />
						<h:outputText
							value="#{l.invProducto.invTipoProducto.nomtipoproducto}" />
						<h:outputText value="Nombre:" />
						<h:outputText value="#{l.invProducto.nombreProducto}" />
						<h:outputText value="Precio:" />
						<h:outputText
							value="#{beanCarritoUsuario.ValorProducto(l.invProducto)}" />
						<p:commandButton value="Agregar" update="@form"
							icon="fa fa-cart-plus"
							actionListener="#{beanCarritoUsuario.actionListenerAgregarCarrito(l)}">
						</p:commandButton>
					</p:panelGrid>
				</p:panel>
			</p:dataGrid>
			
			<p:dataTable value="#{beanCarritoUsuario.listaStockcarrito}" var="p">
			
				<p:column headerText="Nombre">
					<h:outputText value="#{p.invProducto.nombreProducto}" />
				</p:column>
				
				<p:column headerText="Tipo">
					<h:outputText
						value="#{p.invProducto.invTipoProducto.nomtipoproducto}" />
				</p:column>
				
				<p:column headerText="Precio">
					<h:outputText
						value="#{beanCarritoUsuario.ValorProducto(p.invProducto)}" />
					<f:facet name="footer">
						<h:outputText
							value="Suma Productos: #{beanCarritoUsuario.totalcarrito}" />
					</f:facet>
				</p:column>

				<p:column>
					<p:commandButton value="Eliminar" update="@form" icon="fa fa-close"
						actionListener="#{beanCarritoUsuario.actionListenerEliminarCarrito(p)}">
					</p:commandButton>
				</p:column>
				
			</p:dataTable>
		</p:panel>
	</h:form>
	
	<h:form>
	
		<p:commandButton value="comprar"  update=":dfactura" oncomplete="PF('dlgdatosfactura').show();"/>
	
	</h:form>
	
	<p:dialog header="Datos de factura" widgetVar="dlgdatosfactura"
		modal="true">
		<h:form id="dfactura">

			<p:growl>
				<p:autoUpdate />
			</p:growl>

			<p:panelGrid columns="2">

				<h:outputText value="Nombre: " />
				<p:inputText value="#{beanCarritoUsuario.nuevorecibo.nombreCliente}" />
				
				<h:outputText value="Cedula: " />
				<p:inputText value="#{beanCarritoUsuario.nuevorecibo.cedulaCliente}" />
				
				<h:outputText value="Direccion: " />
				<p:inputText value="#{beanCarritoUsuario.nuevorecibo.direccionCliente}" />
				
				<h:outputText value="Telefono: " />
				<p:inputText value="#{beanCarritoUsuario.nuevorecibo.telefonoCliente}" />
				
				<h:outputText value="Correo: " />
				<p:inputText value="#{beanCarritoUsuario.nuevorecibo.correoCliente}" />
				
				<h:outputText value="Selecione forma de pago:" />
				<p:selectOneMenu value="#{beanCarritoUsuario.nombreFormapago}">
					<f:selectItems  value="#{beanCarritoUsuario.listadeformasdepago}" var="f" itemLabel="#{f.nombreFormaPago}" itemValue="#{f.nombreFormaPago}"/>
				</p:selectOneMenu>

			</p:panelGrid>

			<p:commandButton value="Comprar" update="@form"
				actionListener="#{beanCarritoUsuario.ComprarYFacturar()}" />

		</h:form>
	</p:dialog>

</body>
</html>