<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Landing Cliente</title>
	</f:facet>

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="../fonts/icomoon/style.css" />

	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/magnific-popup.css" />
	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="../css/aos.css" />

	<link rel="stylesheet" href="../css/style.css" />
</h:head>
<body>

	<div class="site-navbar bg-white py-2">

		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="logo">
					<div class="site-logo">
						<a href="../landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
					</div>
				</div>
				<div class="container">
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li><a href="cliente-principal.xhtml">Inicio</a></li>
							<li><a href="cliente-carrito.xhtml">Catálogo</a></li>
							<li><a href="MisCompras.xhtml">Mis Compras</a></li>
							<li><a href="PerfilCliente.xhtml">Mi Perfil</a></li>
						</ul>
						</nav>
					</div>
				</div>
				<div class="container">
					<h:form>
						<li><a><h:commandButton
									action="#{beanUsuario.salirSistema()}" value="Cerrar Sesión" /></a></li>
					</h:form>
				</div>

			</div>
		</div>
	</div>


	<div class="site-wrap">
		<div class="site-blocks-cover" >
			<div class="container">
				<div class="row">
					<div class="col-md-6 ml-auto order-md-2 align-self-start">
						<div class="site-block-cover-content">
							<h2 class="sub-title">#COLECCIÓN 2020</h2>
							<h1>MODS, ATOS Y MUCHO MÁS</h1>
							<p></p>
						</div>
					</div>
					<div class="col-md-6 order-1 align-self-end">
						<img src="../images/portada.jfif" alt="Image" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
		
	</div>




</body>
</html>
