<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Registro de Usuario</title>
	</f:facet>

	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="../vendor/bootstrap/css/bootstrap.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="../fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="../vendor/animate/animate.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="../vendor/css-hamburgers/hamburgers.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="../vendor/select2/select2.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/utilLogin.css" />
	<link rel="stylesheet" type="text/css" href="../css/mainLogin.css" />
	<!--===============================================================================================-->

</h:head>

<body>
	<div class="limiter">
		<div class="container-login100"
			style="background-image: url('../images/img-01.jpg');">
			<h:form>

				<p:messages>
					<p:autoUpdate />
				</p:messages>

				<p:panel header="Registro de Usuario">

					<p:panelGrid columns="2">

						<h:outputText value="Nombre" />
						<p:inputText value="#{beanUsuario.usuarioSeleccionado.nombre}" />

						<h:outputText value="Apellidos" />
						<p:inputText value="#{beanUsuario.usuarioSeleccionado.apellido}" />

						<h:outputText value="Telefono" />
						<p:inputText value="#{beanUsuario.usuarioSeleccionado.telefono}" />

						<h:outputText value="Correo Electronico" />
						<p:inputText value="#{beanUsuario.usuarioSeleccionado.email}" />

						<h:outputText value="Provincia" />
						<p:selectOneMenu value="#{beanUsuario.idProvincia}">
							<f:selectItems value="#{beanUsuario.listaprovincias}" var="p"
								itemLabel="#{p.nomdivpolitica}" itemValue="#{p.iddivpolitica}" />
							<p:ajax event="change"
								listener="#{beanUsuario.actionListadeCantones()}"
								update="Cantones" />
						</p:selectOneMenu>

						<h:outputText value="Canton" />
						<p:selectOneMenu value="#{beanUsuario.idCanton}" id="Cantones">
							<f:selectItems value="#{beanUsuario.listaCantonesporProvicnia}"
								var="p" itemLabel="#{p.nomdivpolitica}"
								itemValue="#{p.iddivpolitica}" />
						</p:selectOneMenu>

						<h:outputText value="Contraseña" />
						<p:inputText value="#{beanUsuario.usuarioSeleccionado.contrasena}"
							type="password" />

						<p:commandButton value="Actualizar"
							action="#{beanUsuario.actionActualizarPerfil()}" />
						<hr/>
						<p:commandButton value="Regresar"  action="#{beanUsuario.actionRegresarPerfil()}"/>

					</p:panelGrid>

				</p:panel>

			</h:form>
		</div>
	</div>

</body>
</html>
