<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="../fonts/icomoon/style.css" />

	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/magnific-popup.css" />
	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="../css/aos.css" />

	<link rel="stylesheet" href="../css/style.css" />

	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Mis Compras</title>
	</f:facet>

</h:head>

<body>

	<div class="site-navbar bg-white py-2">

		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="logo">
					<div class="site-logo">
						<a href="../landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
					</div>
				</div>
				<div class="container">
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li><a href="cliente-principal.xhtml">Inicio</a></li>
							<li><a href="cliente-carrito.xhtml">Catálogo</a></li>
							<li><a href="MisCompras.xhtml">Mis Compras</a></li>
							<li><a href="PerfilCliente.xhtml">Mi Perfil</a></li>
						</ul>
						</nav>
					</div>
				</div>
				<div class="container">
					<h:form>
						<li><a><h:commandButton
									action="#{beanUsuario.salirSistema()}" value="Cerrar Sesión" /></a></li>
					</h:form>
				</div>

			</div>
		</div>
	</div>

	<h:form>

		<p:growl>
			<p:autoUpdate />
		</p:growl>

		<p:dataTable var="p" value="#{beanCarritoUsuario.recibosporcliente}">

			<p:column headerText="Codigo recibo">
				<h:outputText value="#{p.codigoRecibo}" />
			</p:column>

			<p:column headerText="Nombre de empresa">
				<h:outputText value="#{p.empresa.nombre}" />
			</p:column>

			<p:column headerText="Forma de pago">
				<h:outputText value="#{p.venFormaPago.nombreFormaPago}" />
			</p:column>

			<p:column headerText="Fecha de recibo">
				<h:outputText value="#{p.fechaRecibo}" />
			</p:column>

			<p:column headerText="Subtotal">
				<h:outputText value="#{p.subtotal}" />
			</p:column>

			<p:column headerText="Base imponible">
				<h:outputText value="#{p.baseImponible}" />
			</p:column>
			
			<p:column headerText="Base cero">
				<h:outputText value="#{p.baseCero}" />
			</p:column>
			
			<p:column headerText="Descuento">
				<h:outputText value="#{p.descuento}" />
			</p:column>
			
			<p:column headerText="Total a pagar">
				<h:outputText value="#{p.totalPago}" />
			</p:column>

		</p:dataTable>

	</h:form>

</body>
</html>
