<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="../fonts/icomoon/style.css" />

	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/magnific-popup.css" />
	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="../css/aos.css" />

	<link rel="stylesheet" href="../css/style.css" />

	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Perfil del Cliente</title>
	</f:facet>
</h:head>

<body>

	<div class="site-navbar bg-white py-2">

		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="logo">
					<div class="site-logo">
						<a href="../landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
					</div>
				</div>
				<div class="container">
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li><a href="cliente-principal.xhtml">Inicio</a></li>
							<li><a href="cliente-carrito.xhtml">Catálogo</a></li>
							<li><a href="MisCompras.xhtml">Mis Compras</a></li>
							<li><a href="PerfilCliente.xhtml">Mi Perfil</a></li>
						</ul>
						</nav>
					</div>
				</div>
				<div class="container">
					<h:form>
						<li><a><h:commandButton
									action="#{beanUsuario.salirSistema()}" value="Cerrar Sesión" /></a></li>
					</h:form>
				</div>

			</div>
		</div>
	</div>


	<div class="jumbotron">
		<h3>Mi Perfil</h3>
	</div>

	<p:messages>
		<p:autoUpdate />
	</p:messages>


	<h:form>
		<div class="container">
			<div class="card">
				<div class="card-header">Datos Personales</div>
				<div class="card-body">
					<h5 class="card-title">NOMBRE</h5>
					<h:outputText styleClass="card-text"
						value="#{beanUsuario.listaPerfilUsuarios.get(0).nombre}" />
					<hr></hr>
					<h5 class="card-title">APELLIDO</h5>
					<h:outputText styleClass="card-text"
						value="#{beanUsuario.listaPerfilUsuarios.get(0).apellido}" />
					<hr></hr>
					<h5 class="card-title">CORREO ELECTRÓNICO</h5>
					<h:outputText styleClass="card-text"
						value="#{beanUsuario.listaPerfilUsuarios.get(0).email}" />
					<hr></hr>
					<h5 class="card-title">TELÉFONO</h5>
					<h:outputText styleClass="card-text"
						value="#{beanUsuario.listaPerfilUsuarios.get(0).telefono}" />
					<hr></hr>
					<h5 class="card-title">CIUDAD</h5>
					<h:outputText styleClass="card-text"
						value="#{beanUsuario.listaPerfilUsuarios.get(0).dpa.nomdivpolitica}" />
					
				</div>
			</div>
			<div class="card">
				<div class="card-header">Opciones</div>
				<div class="card-body">
					<h5 class="card-title">Editar Perfil</h5>
					<a  href="./EditarPerfil.xhtml" onclick="#{beanUsuario.actionListenerSeleccionarPerfil()}" class="btn btn-primary">Editar</a>
				</div>
			</div>
		</div>
	</h:form>


</body>
</html>
