<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="../fonts/icomoon/style.css" />

	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/magnific-popup.css" />
	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="../css/aos.css" />

	<link rel="stylesheet" href="../css/style.css" />

	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Registro de productos</title>
	</f:facet>
</h:head>

<body>

	<div class="site-navbar bg-white py-2">

		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="logo">
					<div class="site-logo">
						<a href="../landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
					</div>
				</div>
				<div class="container">
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li><a href="Admin-principal.xhtml">Inicio</a></li>
							<li><a href="Registro de Productos.xhtml">Registro
									Productos</a></li>
							<li><a href="Administracion_Stock.xhtml">Stock</a></li>
							<li><a href="Registro-Administrador.xhtml">Gestión
									Usuarios</a></li>
							<li><a href="Bitacora.xhtml">Bitácora</a></li>
						</ul>
						</nav>
					</div>
				</div>
				<div class="align-content-lg-end">
					<h:form>
						<li>
							<a>
								<h:commandButton action="#{beanUsuario.salirSistema()}" value="Cerrar Sesión" />
							</a>
						</li>
					</h:form>
				</div>
			</div>
		</div>
	</div>

	<p:ribbon>

		<p:messages>
			<p:autoUpdate />
		</p:messages>

		<p:tab title="Administracion de productos">

			<p:ribbonGroup style="width:650px">

				<h:form>

					<p:growl>
						<p:autoUpdate />
					</p:growl>

					<p:dataTable var="p" value="#{beanStock.listaProductos}">

						<p:column headerText="Codigo producto">
							<h:outputText value="#{p.codigoProducto}" />
						</p:column>

						<p:column headerText="Nombre de producto">
							<h:outputText value="#{p.nombreProducto}" />
						</p:column>

						<p:column headerText="Descripción">
							<h:outputText value="#{p.descripcion}" />
						</p:column>

						<p:column headerText="Tipo producto">
							<h:outputText value="#{p.invTipoProducto.nomtipoproducto}" />
						</p:column>

						<p:column headerText="Marca">
							<h:outputText value="#{p.invMarcaProducto.nombreMarca}" />
						</p:column>

						<p:column headerText="IVA">
							<h:outputText value="#{p.venIva.iva}" />
						</p:column>

					</p:dataTable>

				</h:form>
			</p:ribbonGroup>
		</p:tab>

		<p:tab title="Administracion de Stock">
			<p:ribbonGroup style="width:650px">

				<h:form>
				
					<p:growl>
						<p:autoUpdate />
					</p:growl>

					<p:dataTable var="s" value="#{beanStock.listaStock}">

						<p:column headerText="Codigo producto">
							<h:outputText value="#{s.invProducto.codigoProducto}" />
						</p:column>

						<p:column headerText="Nombre de producto">
							<h:outputText value="#{s.invProducto.nombreProducto}" />
						</p:column>

						<p:column headerText="Tipo de producto">
							<h:outputText
								value="#{s.invProducto.invTipoProducto.nomtipoproducto}" />
						</p:column>

						<p:column headerText="Cantidad minima en stock">
							<h:outputText value="#{s.minimo}" />
						</p:column>

						<p:column headerText="Cantidad real en stock">
							<h:outputText value="#{s.cantidadEnAlmacen}" />
						</p:column>

						<p:column headerText="Cantidad maxima en stock">
							<h:outputText value="#{s.maximo}" />
						</p:column>

						<p:column headerText="OPCIONES" priority="1">

							<p:commandButton icon="fa fa-edit" title="Comprar"
								actionListener="#{beanStock.actionListenerSeleccionarStock(s)}"
								update="@form" oncomplete="PF('dlgEdicion').show();">
							</p:commandButton>

							<p:commandButton value="Valorar producto"
								actionListener="#{beanStock.actionListenerSeleccionarStock(s)}"
								update="@form" oncomplete="PF('dlgValorar').show();">
							</p:commandButton>

						</p:column>

					</p:dataTable>

				</h:form>
			</p:ribbonGroup>
		</p:tab>

		<p:tab title="Ingreso a stock">
			<p:ribbonGroup style="width:650px">

				<h:form>
				
					<p:growl>
						<p:autoUpdate />
					</p:growl>
				
					<p:panel header="Ingreso de productos al almacen">
						<p:panelGrid columns="2">

							<h:outputText value="Producto a ingresar: " />
							<p:selectOneMenu value="#{beanStock.idProducto}">
								<f:selectItems value="#{beanStock.listaProductosNoStock}"
									var="p" itemLabel="#{p.nombreProducto}"
									itemValue="#{p.idproducto}" />
							</p:selectOneMenu>

							<h:outputText value="Descripcion del stock: " />
							<p:inputText value="#{beanStock.nuevoStock.descripcion}" />

							<h:outputText value="Cantidad maxima en Stock: " />
							<p:inputText value="#{beanStock.nuevoStock.maximo}" />

							<h:outputText value="Cantidad minima en Stock: " />
							<p:inputText value="#{beanStock.nuevoStock.minimo}" />

							<p:commandButton value="Crear nuevo Stock" update="@form"
								actionListener="#{beanStock.actionIngresarProductoaStock()}" />

						</p:panelGrid>
					</p:panel>
				</h:form>
			</p:ribbonGroup>
		</p:tab>

	</p:ribbon>

	<p:dialog header="Comprar productos" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">

			<p:growl>
				<p:autoUpdate />
			</p:growl>

			<p:panelGrid columns="2">

				<h:outputText value="Cantidad comprada" />
				<p:inputText value="#{beanStock.nuevacompra.cantidadCompra}" />

				<h:outputText value="Valor total de compra" />
				<p:inputText value="#{beanStock.nuevacompra.valorCompra}" />

			</p:panelGrid>

			<p:commandButton value="Comprar" update="@form"
				actionListener="#{beanStock.actionComprarProductos()}" />

		</h:form>
	</p:dialog>

	<p:dialog header="Valorar productos" widgetVar="dlgValorar"
		modal="true">
		<h:form id="formValoracion">

			<p:growl>
				<p:autoUpdate />
			</p:growl>

			<p:panelGrid columns="2">

				<h:outputText value="Valor unitario del producto: " />
				<p:inputText value="#{beanStock.nuevoValorEstandar.valorEstandar}" />

			</p:panelGrid>

			<p:commandButton value="Valorar" update="@form"
				actionListener="#{beanStock.actionDarValorProducto()}" />

		</h:form>
	</p:dialog>

</body>
</html>
