<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="../fonts/icomoon/style.css" />

	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/magnific-popup.css" />
	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="../css/aos.css" />

	<link rel="stylesheet" href="../css/style.css" />

	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Registro de productos</title>
	</f:facet>
</h:head>

<body>

	<div class="site-navbar bg-white py-2">

		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="logo">
					<div class="site-logo">
						<a href="../landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
					</div>
				</div>
				<div class="container">
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li><a href="Admin-principal.xhtml">Inicio</a></li>
							<li><a href="Registro de Productos.xhtml">Registro
									Productos</a></li>
							<li><a href="Administracion_Stock.xhtml">Stock</a></li>
							<li><a href="Registro-Administrador.xhtml">Gestión
									Usuarios</a></li>
							<li><a href="Bitacora.xhtml">Bitácora</a></li>
						</ul>
						</nav>
					</div>
				</div>
				<div class="align-content-lg-end">
					<h:form>
						<li><a> <h:commandButton
									action="#{beanUsuario.salirSistema()}" value="Cerrar Sesión" />
						</a></li>
					</h:form>
				</div>
			</div>
		</div>
	</div>



	<p:ribbon>

		<div style="margin-left: 50%">

			<p:tab title="MODs">

				<p:ribbonGroup style="width:650px">

					<p:growl>
						<p:autoUpdate />
					</p:growl>

					<h:form>

						<p:growl>
							<p:autoUpdate />
						</p:growl>

						<p:panel header="Registro de MODs">

							<p:panelGrid columns="2">

								<h:outputText value="Nombre producto: " />
								<p:inputText
									value="#{beanProducto.nuevoProducto.nombreProducto}" />

								<h:outputText value="Descripcion producto: " />
								<p:inputText value="#{beanProducto.nuevoProducto.descripcion}" />

								<h:outputText value="Tipo de Mod: " />
								<p:selectOneMenu value="#{beanProducto.descMAR1}">
									<f:selectItem itemLabel="Mecanico" itemValue="Mecanico" />
									<f:selectItem itemLabel="Electronico" itemValue="Electronico" />
								</p:selectOneMenu>

								<h:outputText value="Tipo de Bateria: " />
								<p:selectOneMenu value="#{beanProducto.descMAR2}">
									<f:selectItem itemLabel="Una bateria" itemValue="Una bateria" />
									<f:selectItem itemLabel="Dos baterias" itemValue="Dos baterias" />
									<f:selectItem itemLabel="Tres baterias"
										itemValue="Tres baterias" />
									<f:selectItem itemLabel="Interna" itemValue="Interna" />
								</p:selectOneMenu>

								<h:outputText value="Bottom Feeder: " />
								<p:selectOneMenu value="#{beanProducto.descMAR3}">
									<f:selectItem itemLabel="No" itemValue="No" />
									<f:selectItem itemLabel="Si" itemValue="Si" />
								</p:selectOneMenu>

								<h:outputText value="Rosca: " />
								<p:selectOneMenu value="#{beanProducto.descMAR4}">
									<f:selectItem itemLabel="510" itemValue="510" />
									<f:selectItem itemLabel="eGo" itemValue="eGo" />
								</p:selectOneMenu>

								<h:outputText value="Codigo producto" />
								<p:inputText
									value="#{beanProducto.nuevoProducto.codigoProducto}" />

								<h:outputText value="Marca del producto" />
								<p:selectOneMenu value="#{beanProducto.idMarca}">
									<f:selectItems value="#{beanProducto.listademarcas}" var="p"
										itemLabel="#{p.nombreMarca}" itemValue="#{p.idmarca}" />
								</p:selectOneMenu>

								<h:outputText value="I.V.A" />
								<p:selectOneMenu value="#{beanProducto.idIva}">
									<f:selectItems value="#{beanProducto.listadeIVAS}" var="p"
										itemLabel="#{p.iva}" itemValue="#{p.idiva}" />
								</p:selectOneMenu>

								<p:commandButton value="Ingresar MOD" update="@form"
									actionListener="#{beanProducto.actionIngresarMod()}" />

							</p:panelGrid>

						</p:panel>

					</h:form>

				</p:ribbonGroup>

			</p:tab>

			<p:tab title="Atomizador">

				<p:ribbonGroup style="width:650px">

					<p:growl>
						<p:autoUpdate />
					</p:growl>

					<h:form>

						<p:panel header="Registro de Atomizadores">

							<p:panelGrid columns="2">

								<h:outputText value="Nombre producto: " />
								<p:inputText
									value="#{beanProducto.nuevoProducto.nombreProducto}" />

								<h:outputText value="Descripcion producto: " />
								<p:inputText value="#{beanProducto.nuevoProducto.descripcion}" />

								<h:outputText value="Tipo de Atomizador: " />
								<p:selectOneMenu value="#{beanProducto.descMAR1}">
									<f:selectItem itemLabel="RBA" itemValue="RBA" />
									<f:selectItem itemLabel="RDA" itemValue="RDA" />
									<f:selectItem itemLabel="MTL" itemValue="MTL" />
									<f:selectItem itemLabel="RTA" itemValue="RTA" />
									<f:selectItem itemLabel="RDTA" itemValue="RDTA" />
									<f:selectItem itemLabel="GTA" itemValue="GTA" />
									<f:selectItem itemLabel="Claromizador" itemValue="Claromizador" />
								</p:selectOneMenu>

								<h:outputText value="Tamaño de Atomizador: " />
								<p:selectOneMenu value="#{beanProducto.descMAR2}">
									<f:selectItem itemLabel="2ml" itemValue="2ml" />
									<f:selectItem itemLabel="5ml" itemValue="5ml" />
								</p:selectOneMenu>

								<h:outputText value="Bottom Feeder: " />
								<p:selectOneMenu value="#{beanProducto.descMAR3}">
									<f:selectItem itemLabel="No" itemValue="No" />
									<f:selectItem itemLabel="Si" itemValue="Si" />
								</p:selectOneMenu>

								<h:outputText value="Rosca: " />
								<p:selectOneMenu value="#{beanProducto.descMAR4}">
									<f:selectItem itemLabel="510" itemValue="510" />
									<f:selectItem itemLabel="eGo" itemValue="eGo" />
								</p:selectOneMenu>

								<h:outputText value="Codigo producto" />
								<p:inputText
									value="#{beanProducto.nuevoProducto.codigoProducto}" />

								<h:outputText value="Marca del producto" />
								<p:selectOneMenu value="#{beanProducto.idMarca}">
									<f:selectItems value="#{beanProducto.listademarcas}" var="p"
										itemLabel="#{p.nombreMarca}" itemValue="#{p.idmarca}" />
								</p:selectOneMenu>

								<h:outputText value="I.V.A" />
								<p:selectOneMenu value="#{beanProducto.idIva}">
									<f:selectItems value="#{beanProducto.listadeIVAS}" var="p"
										itemLabel="#{p.iva}" itemValue="#{p.idiva}" />
								</p:selectOneMenu>

								<p:commandButton value="Ingresar Atomizador" update="@form"
									actionListener="#{beanProducto.actionIngresarAtomizador()}" />

							</p:panelGrid>

						</p:panel>

					</h:form>

				</p:ribbonGroup>

			</p:tab>

			<p:tab title="Resistencias">

				<p:ribbonGroup style="width:650px">

					<p:growl>
						<p:autoUpdate />
					</p:growl>

					<h:form>

						<p:panel header="Registro de Resistencias">

							<p:panelGrid columns="2">

								<h:outputText value="Nombre producto: " />
								<p:inputText
									value="#{beanProducto.nuevoProducto.nombreProducto}" />

								<h:outputText value="Descripcion producto: " />
								<p:inputText value="#{beanProducto.nuevoProducto.descripcion}" />

								<h:outputText value="Tipo de Resistencia: " />
								<p:selectOneMenu value="#{beanProducto.descMAR1}">
									<f:selectItem itemLabel="Artesanal" itemValue="Artesanal" />
									<f:selectItem itemLabel="Industrial" itemValue="Industrial" />
								</p:selectOneMenu>

								<h:outputText value="Rango maximo de la resistencia: " />
								<p:inputText value="#{beanProducto.descMAR2}" />

								<h:outputText value="Rango minimo de la resistencia: " />
								<p:inputText value="#{beanProducto.descMAR3}" />

								<h:outputText value="Ohmiajes de la resistencia: " />
								<p:inputText value="#{beanProducto.descMAR4}" />

								<h:outputText value="Codigo producto" />
								<p:inputText
									value="#{beanProducto.nuevoProducto.codigoProducto}" />

								<h:outputText value="Marca del producto" />
								<p:selectOneMenu value="#{beanProducto.idMarca}">
									<f:selectItems value="#{beanProducto.listademarcas}" var="p"
										itemLabel="#{p.nombreMarca}" itemValue="#{p.idmarca}" />
								</p:selectOneMenu>

								<h:outputText value="I.V.A" />
								<p:selectOneMenu value="#{beanProducto.idIva}">
									<f:selectItems value="#{beanProducto.listadeIVAS}" var="p"
										itemLabel="#{p.iva}" itemValue="#{p.idiva}" />
								</p:selectOneMenu>

								<p:commandButton value="Ingresar Resistencia" update="@form"
									actionListener="#{beanProducto.actionIngresarResistencia()}" />

							</p:panelGrid>

						</p:panel>

					</h:form>

				</p:ribbonGroup>

			</p:tab>

			<p:tab title="Algodones">

				<p:ribbonGroup style="width:650px">

					<p:growl>
						<p:autoUpdate />
					</p:growl>

					<h:form>

						<p:panel header="Registro de algodones">

							<p:panelGrid columns="2">

								<h:outputText value="Nombre producto: " />
								<p:inputText
									value="#{beanProducto.nuevoProducto.nombreProducto}" />

								<h:outputText value="Descripcion producto: " />
								<p:inputText value="#{beanProducto.nuevoProducto.descripcion}" />

								<h:outputText value="Tipo de Algodon: " />
								<p:selectOneMenu value="#{beanProducto.descMAR1}">
									<f:selectItem itemLabel="Artesanal" itemValue="Artesanal" />
									<f:selectItem itemLabel="Industrial" itemValue="Industrial" />
								</p:selectOneMenu>

								<h:outputText value="Codigo producto" />
								<p:inputText
									value="#{beanProducto.nuevoProducto.codigoProducto}" />

								<h:outputText value="Marca del producto" />
								<p:selectOneMenu value="#{beanProducto.idMarca}">
									<f:selectItems value="#{beanProducto.listademarcas}" var="p"
										itemLabel="#{p.nombreMarca}" itemValue="#{p.idmarca}" />
								</p:selectOneMenu>

								<h:outputText value="I.V.A" />
								<p:selectOneMenu value="#{beanProducto.idIva}">
									<f:selectItems value="#{beanProducto.listadeIVAS}" var="p"
										itemLabel="#{p.iva}" itemValue="#{p.idiva}" />
								</p:selectOneMenu>

								<p:commandButton value="Ingresar Algodon" update="@form"
									actionListener="#{beanProducto.actionIngresarAlgodon()}" />

							</p:panelGrid>

						</p:panel>

					</h:form>

				</p:ribbonGroup>

			</p:tab>

			<p:tab title="Esencias">

				<p:ribbonGroup style="width:650px">

					<p:growl>
						<p:autoUpdate />
					</p:growl>

					<h:form>

						<p:panel header="Registro de Esencias">

							<p:panelGrid columns="2">

								<h:outputText value="Nombre producto: " />
								<p:inputText
									value="#{beanProducto.nuevoProducto.nombreProducto}" />

								<h:outputText value="Descripcion producto: " />
								<p:inputText value="#{beanProducto.nuevoProducto.descripcion}" />

								<h:outputText value="Sabor de la Esencia: " />
								<p:inputText value="#{beanProducto.descMAR1}" />

								<h:outputText value="Cantidad de nicotina de la Esencia: " />
								<p:inputText value="#{beanProducto.descMAR2}" />

								<h:outputText value="Codigo producto" />
								<p:inputText
									value="#{beanProducto.nuevoProducto.codigoProducto}" />

								<h:outputText value="Marca del producto" />
								<p:selectOneMenu value="#{beanProducto.idMarca}">
									<f:selectItems value="#{beanProducto.listademarcas}" var="p"
										itemLabel="#{p.nombreMarca}" itemValue="#{p.idmarca}" />
								</p:selectOneMenu>

								<h:outputText value="I.V.A" />
								<p:selectOneMenu value="#{beanProducto.idIva}">
									<f:selectItems value="#{beanProducto.listadeIVAS}" var="p"
										itemLabel="#{p.iva}" itemValue="#{p.idiva}" />
								</p:selectOneMenu>

								<p:commandButton value="Ingresar Esencia" update="@form"
									actionListener="#{beanProducto.actionIngresarEsencia()}" />

							</p:panelGrid>

						</p:panel>

					</h:form>

				</p:ribbonGroup>

			</p:tab>
			
			<p:tab title="Productos Varios">

				<p:ribbonGroup style="width:650px">

					<p:growl>
						<p:autoUpdate />
					</p:growl>

					<h:form>

						<p:panel header="Registro de productos Varios">

							<p:panelGrid columns="2">

								<h:outputText value="Nombre producto: " />
								<p:inputText value="#{beanProducto.nuevoProducto.nombreProducto}" />

								<h:outputText value="Descripcion producto: " />
								<p:inputText value="#{beanProducto.nuevoProducto.descripcion}" />

								<h:outputText value="Codigo producto" />
								<p:inputText value="#{beanProducto.nuevoProducto.codigoProducto}" />

								<h:outputText value="Marca del producto" />
								<p:selectOneMenu value="#{beanProducto.idMarca}">
									<f:selectItems value="#{beanProducto.listademarcas}" var="p"
										itemLabel="#{p.nombreMarca}" itemValue="#{p.idmarca}" />
								</p:selectOneMenu>
								
								<h:outputText value="Tipo de producto" />
								<p:selectOneMenu value="#{beanProducto.idtipoproducto}">
									<f:selectItems value="#{beanProducto.listadetiposdeproductos}" var="p"
										itemLabel="#{p.nomtipoproducto}" itemValue="#{p.idtipoproduct}" />
								</p:selectOneMenu>

								<h:outputText value="I.V.A" />
								<p:selectOneMenu value="#{beanProducto.idIva}">
									<f:selectItems value="#{beanProducto.listadeIVAS}" var="p"
										itemLabel="#{p.iva}" itemValue="#{p.idiva}" />
								</p:selectOneMenu>
								
								

								<p:commandButton value="Ingresar Producto" update="@form"
									actionListener="#{beanProducto.actionIgresarProduuctosVarios()}" />

							</p:panelGrid>

						</p:panel>

					</h:form>

				</p:ribbonGroup>

			</p:tab>

			<p:tab title="Nuevos Parametros">

				<p:ribbonGroup>

					<p:panelGrid columns="2">

						<h:form>

							<p:growl>
								<p:autoUpdate />
							</p:growl>

							<p:panelGrid columns="2">

								<h:outputText value="Parametro: " />
								<p:selectOneMenu value="#{beanProducto.ivatpm}">
									<f:selectItem itemValue="I.V.A" itemLabel="I.V.A" />
									<f:selectItem itemValue="Tipo de Producto" itemLabel="Tipo de Producto" />
									<f:selectItem itemValue="Marcas" itemLabel="Marcas" />
									<f:selectItem itemValue="Forma de Pago" itemLabel="Forma de Pago" />
								</p:selectOneMenu>

								<h:outputText value="Dato: " />
								<p:inputText value="#{beanProducto.datoivatpm}" />

							</p:panelGrid>

							<p:commandButton value="Ingresar"
								actionListener="#{beanProducto.actionIngresarIVA_TP_M()}"
								update="@form" />
						</h:form>

					</p:panelGrid>

				</p:ribbonGroup>

			</p:tab>

		</div>

	</p:ribbon>

</body>

</html>
