<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
	<link rel="stylesheet" href="../fonts/icomoon/style.css" />

	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/magnific-popup.css" />
	<link rel="stylesheet" href="../css/jquery-ui.css" />
	<link rel="stylesheet" href="../css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../css/owl.theme.default.min.css" />


	<link rel="stylesheet" href="../css/aos.css" />

	<link rel="stylesheet" href="../css/style.css" />

	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Registro de Vendedores</title>
	</f:facet>
</h:head>

<body>

	<div class="site-navbar bg-white py-2">

		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<div class="logo">
					<div class="site-logo">
						<a href="../landingPage.xhtml" class="js-logo-clone">CLOUDY</a>
					</div>
				</div>
				<div class="container">
					<div class="main-nav d-none d-lg-block">
						<nav class="site-navigation text-right text-md-center"
							role="navigation">
						<ul class="site-menu js-clone-nav d-none d-lg-block">
							<li><a href="Admin-principal.xhtml">Inicio</a></li>
							<li><a href="Registro de Productos.xhtml">Registro
									Productos</a></li>
							<li><a href="Administracion_Stock.xhtml">Stock</a></li>
							<li><a href="Registro-Administrador.xhtml">Gestión
									Usuarios</a></li>
							<li><a href="Bitacora.xhtml">Bitácora</a></li>
						</ul>
						</nav>
					</div>
				</div>
				<div class="align-content-lg-end">
					<h:form>
						<li><a><h:commandButton
									action="#{beanUsuario.salirSistema()}" value="Cerrar Sesión" /></a></li>
					</h:form>
				</div>
			</div>
		</div>
	</div>

	<p:ribbon>

		<p:tab title="Mis clientes">
			<p:ribbonGroup>
				<h:form>
					<h1>Mis Clientes</h1>
					<br />
					<p:dataTable value="#{beanUsuario.listaDeClientes}" var="c">

						<p:column headerText="Nombre">
							<h:outputText value="#{c.nombre}" />
						</p:column>

						<p:column headerText="Apellido">
							<h:outputText value="#{c.apellido}" />
						</p:column>

						<p:column headerText="Correo">
							<h:outputText value="#{c.email}" />
						</p:column>

						<p:column headerText="Direccion">
							<h:outputText value="#{c.dpa.nomdivpolitica}" />
						</p:column>

					</p:dataTable>
				</h:form>

				<br />

				<h:form>
					<h1>Mi Personal</h1>
					<br />
					<p:dataTable value="#{beanUsuario.listaDeVendedores}" var="v">

						<p:column headerText="Nombre">
							<h:outputText value="#{v.nombre}" />
						</p:column>

						<p:column headerText="Apellido">
							<h:outputText value="#{v.apellido}" />
						</p:column>

						<p:column headerText="Correo">
							<h:outputText value="#{v.email}" />
						</p:column>

						<p:column headerText="Direccion">
							<h:outputText value="#{v.dpa.nomdivpolitica}" />
						</p:column>

					</p:dataTable>
				</h:form>
			</p:ribbonGroup>
		</p:tab>

		<p:tab title="Registrar Vendedores">
			<p:ribbonGroup>
				<h:form>

					<p:messages>
						<p:autoUpdate />
					</p:messages>

					<p:panel header="Registro de Vendedor">

						<p:panelGrid columns="2">

							<h:outputText value="Nombre" />
							<p:inputText value="#{beanUsuario.nuevousuario.nombre}" />

							<h:outputText value="Apellidos" />
							<p:inputText value="#{beanUsuario.nuevousuario.apellido}" />

							<h:outputText value="Telefono" />
							<p:inputText value="#{beanUsuario.nuevousuario.telefono}" />

							<h:outputText value="Correo Electronico" />
							<p:inputText value="#{beanUsuario.nuevousuario.email}" />

							<h:outputText value="Provincia" />
							<p:selectOneMenu value="#{beanUsuario.idProvincia}">
								<f:selectItems value="#{beanUsuario.listaprovincias}" var="p"
									itemLabel="#{p.nomdivpolitica}" itemValue="#{p.iddivpolitica}" />
								<p:ajax event="change"
									listener="#{beanUsuario.actionListadeCantones()}"
									update="Cantones" />
							</p:selectOneMenu>

							<h:outputText value="Canton" />
							<p:selectOneMenu value="#{beanUsuario.idCanton}" id="Cantones">
								<f:selectItems value="#{beanUsuario.listaCantonesporProvicnia}"
									var="p" itemLabel="#{p.nomdivpolitica}"
									itemValue="#{p.iddivpolitica}" />
							</p:selectOneMenu>

							<h:outputText value="Contraseña" />
							<p:inputText value="#{beanUsuario.nuevousuario.contrasena}"
								type="password" />

							<p:commandButton value="Ingresar Registro"
								action="#{beanUsuario.actionIngresarVendedor()}" />

						</p:panelGrid>

					</p:panel>

				</h:form>
			</p:ribbonGroup>
		</p:tab>

	</p:ribbon>

</body>
</html>
